.movier {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.movie-image {
    border-radius: 15px;
    border: 2px solid rgba(44, 44, 44, 0.638);
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 10px;
    max-height: 100vh;

}

.gambar {
    width: 100%;
    height: 60%;
}

.movies-buy {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.typo,
.title-movie,
.genre-movie {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.genre-movie {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.date-release,
.col-movie,
.row-movie {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;

}

.sinopsis-release {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
}

.synopsis {
    display: flex !important;
    justify-content: flex-start !important;
    text-align: left;

}

.fw {
    font-weight: 700;
}

.fe {
    font-weight: normal;
}

.location .date {
    color: blueviolet !important;
}

.book-now {
    background-color: #5F2EEA !important;
    border-color: #5F2EEA !important;
    color: white !important;
    filter: drop-shadow(8px 8px 4px #4444dd);
}

.book-now:hover {
    color: #5F2EEA !important;
    background-color: transparent !important;
    
}

.movies-picture {
        width: 100%;
        height: 90%;
        object-fit: contain;
        margin: auto;
}

.input-date {
    background-color: #F5F6F8;
}
