body {
  font-family: 'Montserrat', sans-serif;
}

.btn-outline-primary.Login {

  color: #5F2EEA;
  border-color: #5F2EEA;
}

.btn-outline-primary.Login:hover {
  background-color: #5F2EEA;
  border-color: #5F2EEA;
  color: white;
}

.btn-primary.Register {
  background-color: #5F2EEA;
}

.btn-primary.Register:hover {
  color: #5F2EEA;
  background-color: transparent;
}