/* body {
    background: #6e28d9;
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

/* 
.parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 2 / 4 / 7; }
    .div2 { grid-area: 2 / 8 / 8 / 11; }
    .seat { grid-area: 5 / 2 / 11 / 8; }

    .custom-checkbox {
        display: inline-block;
        color: blue;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 18px;
        user-select: none;
        margin: 25px;
      }
      
      .custom-checkbox input {
        color: blue;
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      .checkmark {
        border-radius: 7px;
        color: blue;
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid #333;
      }
      
      .custom-checkbox:hover .checkmark {
        color: blue;
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
      }
      
      .custom-checkbox input:checked ~ .checkmark {
        border-color: transparent;
        background-color: purple; 
      }
      
      .seat-label {
        display: inline-block;
        width: 20px;
        text-align: center;
        font-weight: bold;
        margin-right: 10px;
      }
      

      .seat-label.A {
        color: blue;
      }
      

      .seat-label.B {
        color: green;
      }
      
      .row-number {
        display: inline-block;
        margin: 36px;
      }
       */